[submodule "diax-bot"]
	path = diax-bot
	url = https://github.com/DiaxBot/diax-bot
[submodule "diax-site"]
	path = diax-site
	url = https://github.com/DiaxBot/diax-site
[submodule "diax-srv"]
	path = diax-srv
	url = https://github.com/DiaxBot/diax-srv
