<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="."/>
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/logs"/>
    <property name="PATTERN" value="[%d{HH:mm:ss, -5}] [%level] [%logger{0}] %msg%n"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!--filter class="me.diax.bot.lib.util.DiaxLogger" />-->
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="Discord" class="me.diax.bot.lib.util.DiaxDiscordAppender"/>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/bot-latest.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/bot-%d{MM-dd-yyyy}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="Info">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>
</configuration>